

/* .example-spacer {
    flex: 1 1 auto;
  }

#m2{
    padding: 0.3%;
    margin-right: 20px;
    border-radius: 5%;
    box-shadow: 5%;
    background-color: rgb(8, 132, 241);
}
.material-icons{
    border-radius: 10px;
    background-color: rgb(20, 21, 21);
}
#m2:hover{
    background-color: seashell;
}

.material-icons:hover{
    box-shadow: black 5% 5% 5%;
}
#s{
    padding: 10px;
}
#t{
    background-color: rgb(55, 57, 201);
    color: white;
}
#B1{
    margin-left: 2%;
}

.example-header-image {
    
  } */
.features{
    
    padding: 4%;
    text-align: center;
    width: 70%;
}
.features img{
   
    max-width: 280px; 
    height: 280px;
}

.body{
    background-image:url("../../../assets/background.jpg");
    background-size: cover;
    opacity: 95%;
  }

  .footer{
    background-color: rgb(161, 29, 183);
    text-align: center;
    color: white;
    bottom: 0;
  }
  #heading{
    padding-left: auto;
    padding: 4%;
    font-size: 4vw;
    color: rgba(0, 0, 0, 0.881); 
    font-weight:400;
    text-shadow: 1px 1px 10px rgb(245, 245, 245);
   
  }
  #subheading{
    margin-left:3%;
    padding: 4%;
    font-size: 3vw;
    position: relative;
    color: rgba(0, 0, 0, 0.881); 
    font-weight:400;
    text-shadow: 1px 1px 10px rgb(245, 245, 245);
    margin-bottom: -5%;
  }
  .logoback{
    padding: 23%;
    background-image:url("../../../assets/bacground2.png");
    background-size:contain ;
    background-repeat: no-repeat;
   
  }