<div class="card-container" *ngFor="let a of appointments;let i=index">

    <mat-card class="cards">
        <mat-card-header>
          <mat-card-title>PatientName:{{patients[i].firstName}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Concern : {{a.concerns}}</p>
        </mat-card-content>
        <mat-card-content>
          <p>Date : {{a.date|customdate}}</p>
        </mat-card-content>
        <mat-card-actions class="card-buttons">
          <button mat-raised-button (click)="accept()" >Accept</button>
          <button mat-raised-button  (click)="reject()">Reject</button>
    
        </mat-card-actions>
      </mat-card>
    </div>
    {{status}}