<h1 mat-dialog-title>Prescription</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Medicine Name</mat-label>
    <input matInput >
  </mat-form-field><br>
  <mat-form-field appearance="fill">
    <mat-label>Dosage</mat-label>
    <mat-select>
      <mat-option>--</mat-option>
      <mat-option [value]="1-0-0">1-0-0</mat-option>
      <mat-option [value]="1-0-0">1-0-1</mat-option>
      <mat-option [value]="1-0-0">1-1-0</mat-option>
      <mat-option [value]="1-0-0">1-1-1</mat-option>
      <mat-option [value]="1-0-0">0-0-1</mat-option>
      <mat-option [value]="1-0-0">0-1-1</mat-option>
      <mat-option [value]="1-0-0">1-0-1</mat-option>
    </mat-select>
  </mat-form-field><br>
  <mat-form-field appearance="fill">
    <mat-label>Note</mat-label>
    <input matInput >
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button>ADD</button>
</div>